@charset "utf-8";

.btn {
  padding: 100px 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;

}

.text h1{
    font-size: 50px;
}

.text p{
    margin: 0 auto;
    display: block;
    font-size: 30px;
}

button {
  padding: 10px; 
  border: solid 3px #000; 
  border-radius: 10px; 
  width:300px; 
  margin-top: 20px;
  border: solid 3px #000000; 
  background-color: #ccc
}