@charset "utf-8";

.btn {
  padding: 100px 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;

}

.text h1{
    font-size: 50px;
}

.text p{
    margin: 0 auto;
    display: block;
    font-size: 30px;
}

button {
  padding: 10px; 
  border: solid 3px #000; 
  border-radius: 10px; 
  width:300px; 
  margin-top: 20px;
  border: solid 3px #000000; 
  background-color: #ccc;
  /* カーソルを変える */
  cursor: pointer;
  /* クリック時の動作 */
  transition: all 0.1s ease;
}

/* ボタンホバー時に少し変える */
button:hover {
  background-color: #000000;
  color: #fff;
}

a {
  transition: all 0.1s ease;

}
/* aタグも同様に */
a:hover {
  background-color: #000000;
  color: #fff;
}